@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  box-sizing: border-box;
}

.carta {
  border-radius: 15px;
  width: 400px;
  height: 600px;
  margin-top: 10px;
  margin: auto;
  padding: 20px;
  padding-top: 230px;
  border: 1px solid black;
  justify-content: space-between;
  background-color: white;
  position: relative;
  font-size: 80px;
}

.palo {
  position: absolute;
  /*width: fit-content;*/
  top: 20px;
  left: 20px;
  align-self: flex-start;
}

.number {
  text-align: center;
  /*margin: auto;*/
  align-self: center;
  font-size: 150px;
  font-family: "Times New Roman", Times, serif;
}

.palo2 {
  position: absolute;
  align-self: flex-end;
  width: fit-content;
  bottom: 20px;
  right: 20px;
}
.numerito {
  font-family: "Times New Roman", Times, serif;
  font-size: 150px;
}

.spade {
}
.club {
}
.heart {
  color: red;
}
.diamond {
}
